client/node_modules
mobile/node_modules
server/node_modules
client/.env
mobile/.env
server/.env
backend/*/.env
backend/*/node_modules
mobile/.expo
*.tfvars
LICENSE.txt
*.tfstate
*.lock.hcl
/home/yoshiTakumi/Documents/restauranty/aks-tf/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.34.0/linux_amd64
/home/yoshiTakumi/Documents/restauranty/aks-tf/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.34.0/linux_amd64/terraform-provider-azurerm_v4.34.0_x5